<!doctype html>
<html>
<head>
  <title>Goodbye!</title>
</head>
<body>
    <form action="/madlib">
        <select name="color">
          <option value="red">Red</option>
          <option value="blue">Blue</option>
          <option value="yellow">Yellow</option> 
          <option value="green">Green</option>
          <option value="black">Black</option>
        </select>
      <br>
      <label for="noun">Name a Noun</label><br>
      <input type="text" id="noun" name="noun"><br>
      
      <label for="adjective">Name an Adjective</label><br>
      <input type="text" id="adjective" name="adjective">

      <label for="person">Name an Person</label><br>
      <input type="text" id="person" name="person">

      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
   
</body>
</html>